html, body, app-root, .app-root-flex {
	height: 100%;
	margin: 0;
	padding: 0;
}

.app-root-flex {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 0;
}

.app-canvas-flex {
	flex: 1 1 0;
	min-height: 0;
	display: flex;
	flex-direction: column;
}
